@use 'rich-links' as *;
@use 'rich-links-improved' as *;
@use 'inline-title' as *;
@use 'css-cheat-sheet' as *;

body {
  --link-external-color: var(--link-color);
  --accent-h: 87 !important;
  --accent-s: 66% !important;
  --accent-l: 58% !important;

  a {
    color: var(--text-muted);
  }

  /* Navigation */

  .notelink.active-note {
    transform: none;
  }

  /* Sidebar */

  .toc-container {
    max-height: 500px;
  }

  .toc > ol {
    margin-block: 0;
    -webkit-padding-start: 1em;
    padding-inline-start: 1em;
  }

  .toc li::before {
    position: relative;
    top: -0.25em;
    margin-right: 1em;
    color: var(--text-muted);
    content: '○' !important;
    font-size: 0.5em;
  }

  .toc li:has(ol)::before {
    content: '●' !important;
  }

  .backlink-card {
    color: var(--text-muted);
  }

  /* Search */

  .header-tags {
    display: none;
  }

  .searchresult:not(.active) {
    border: 2px solid transparent;
  }

  .searchresult div {
    color: var(--text-muted);
  }

  /* Note Body */

  header:has(h1:empty) {
    display: none;
  }

  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
  }
}
